.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-profile-wrapper {
  position: relative;
  z-index: 1000;
}

.edit-profile-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 3px;
  right: 0px;
  width: 40px;
  height: 40px;
  color: black;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-input {
  width: 358px;
  padding: 13px;
  margin-bottom: 48px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding-left: 0;
  padding-bottom: 5px;
}

.edit-submit {
  width: 358px;
  height: 50px;
  background: #000;
  color: #fff;
  border-radius: 2px;
}

