.profile-container {
  width: 880px;
  display: flex;
  padding-top: 77px;
  padding-bottom: 46px;
  margin: 0 auto;
}

.profile-image {
  width: 170px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
}

.information-content {
  margin-left: 20px;
}

.profile-name {
  width: fit-content;
  height: fit-content;
  color: #fff;
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  margin-right: 10px;
}

.profile-explore {
  width: fit-content;
  height: 22px;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.edit-square{
    width: 24px;
    height: 24px;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: black;
}

.edit-image{
    width: 10px;
    height: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }